.gradicon {
  background: -webkit-linear-gradient(45deg, var(--eon-primary), var(--eon-secondary));
  padding: 24px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabgradicon {
  background: -webkit-linear-gradient(45deg, var(--eon-primary), var(--eon-secondary));
  padding: 24px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tab {
  position: relative;
}

.iconbtn {
  min-width: 0px;
  padding: 24px;
  position: relative;

  margin-right: 6px;
  margin-left: 6px;
  border-radius: 24px;
}

.iconbtn i{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.hidden {
  display: none !important;
}

.block {
  width: 100%;
}

.entryicon {
    font-size: 96px;
    
}

.eform {
    width: 40%;
    max-width: 600px;
}

#finish_profile {
  position: fixed;
  top: 0px; left: 0px;

  width: 100%;
  height: 100%;

  backdrop-filter: blur(20px);
  z-index: 40000;
}

#unverified {
  position: fixed;
  top: 0px; left: 0px;

  width: 100%;
  height: 100%;

  backdrop-filter: blur(20px);
  z-index: 40001;
}

.playing_collapsed {
  right: -300px !important;
}

#expand_btn {
  min-width: 0px;
  background: transparent;
  color: var(--content-primary);
  border: 0px;
  padding: 12px;
  border-radius: 12px;
  transition: all 0.5s;
  z-index: 2000;
}

#expand_btn:hover {
  background-color: var(--primary-hover-variant-variant);
  transition: all 0.5s;
  cursor: pointer;
}

.expand_collapsed {
  position: fixed; 
  right: 12px;
  top: 26px;
}

.expand_expanded {
  position: fixed; 
  right: 228px;
  top: 12px;
}

#content {
  height: 100%;
  overflow-x: hidden;
  padding: 24px;
  word-wrap: break-word;
}

.content_expanded {
  width: calc(100% - 48px);
  transition: all 0.5s;
}

.content_collapsed {
  width: calc(100% - 300px);
  transition: all 0.5s;
}

#navigation {
  position: fixed;
  left: 50%; bottom: 48px; 
  width: auto; height: 80px;
  padding: 0 12px 0 12px;
  transform: translate(-50%, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secondary);
  border-radius: 24px;

  z-index: 4000;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation ul li{
  float: left;
}

.nav_item button {
  min-width: 0px;
  padding: 24px;
  position: relative;

  margin-right: 6px;
  margin-left: 6px;
}

.nav_item button i{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

#profile_card {
  float: right; align-items: center;
  top: -120px;
}

#profile_card img {
  width: 50px; height: 50px;
  object-fit: cover;
  border-radius: 50%;
  z-index: 2;
  position: relative;
  opacity: 1;
  transition: all 0.5s;
}

#profile_card img:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s;
}

#toolbar {
  float: right; padding-right: 0px;
  margin-top: 4px; margin-right: 12px;
  position: relative;

  z-index: 2;
  transition: all 1s;
}

.toolbar-search {
  padding-right: 300px !important;
  transition: all 1s;
}

.toolbar-btn {
  min-width: 0px;
  padding: 24px;
  position: relative;

  margin-right: 6px;
  margin-left: 6px;
}

.toolbar-btn i {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;

  background: -webkit-linear-gradient(45deg, var(--eon-primary), var(--eon-secondary));
  padding: 24px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: all 0.5s;
}

.toolbar-btn:hover {
  transform: scale(1.1);
  border-radius: 12px;
}

.searchboxfield {
  display: inline-block;
  position: absolute;
  width: 300px;
  right: 0px;
  margin-top: -6px;
}

#pfpimg2 {
  width: 120px;
  height: 120px;
  border-radius: 120px;
}

#name1 {
  font-size: 2em;
  font-weight: 600;

}

#username1 {
  margin: 0px 8px 0px 8px;
}

.newpl {
  float: right;
}

.modalfooter {
  text-align: right;
  padding: 24px;
}

.exitbtn {
  position: absolute;
  top: 12px;
  left: 12px;
}

.antiscroll {
  overflow: hidden
}

#search-tab {
  height: calc(100vh - 48px);
  width: 100%;
  overflow-y: scroll;
  top: 0px;
  position: absolute;
}

.invisible {
  visibility: hidden;
}

.logo_welcome {
  max-width: 300px;
}