
.context-menu {
  display: none;
  position: absolute;
  z-index: 1000000;
}

.context-bg-active {
  background-color: rgba(0, 0, 0, 0.25) !important;
  transition: all 0.3s !important;
}

.context-bg {
  position: fixed;
  width: 100%; height: 100%;
  top: 0px; left: 0px;
  z-index: 999999; cursor: pointer;

  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s;
}

.context_active {
  display: block;
}


.context-menu__items {
  background-color: var(--bg-tertiary);
  list-style-type: none;
  padding: 8px 0px 8px 0px;
  border-radius: 12px;
  min-width: 120px;
}

.context-menu__item {
  margin: 4px 0px 4px 0px;
  background-color: var(--bg-secondary);
  width: 100%; 
}

.contextbtn {
  width: 100%;
  border-radius: 0px !important;
}