:root {
  --eon-primary: #FD2D55;
  --eon-secondary: #fda22b;

  --bg-primary: #13112F;
  --bg-secondary: #1A1738;
  --bg-tertiary: #2C2847;

  --content-primary: #fff;
  --content-secondary: #dadada;
  --content-tertiary: #b3b3b3;

  --glass: rgba(57, 36, 83, 0.472);
  
  --plyr-color-main: var(--eon-primary);
  --plyr-audio-control-color: var(--content-primary);
}

hr {
  background-color: var(--content-primary);
  opacity: 0.6;
  margin: 12px 36px 12px 36px;
}

body {
  background-color: var(--bg-primary);
  color: var(--content-primary);
}

audio {
  outline: none;
}

.hidden {
  display: none !important;
}

.block {
  width: 100%;
}

.float {
  float: right;
}

.dropdown {
  display: inline-block;
}

.bottom_sheet {
  max-height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 0.8em;
  height: 0.8em;
  border-radius: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--s-1);
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--c-1);
  width: 1em;
  height: 1em;
  border-radius: 12px;
  transition: all 0.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--c-2);
  cursor: pointer;
  border-radius: 0px;
  transition: all 0.5s;
}
