.horiz_search {
  max-height: 300px;
  min-width: 360px;
  overflow: auto;
  padding: 24px;
}


.album {
  text-align: center;
  display: inline-block;
  margin: 12px;
}

.album h4 {
  margin: 0px;
  line-height: 18px;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.album img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
  cursor: pointer;
}

.album .content {
  border-radius: 12px;
}

.album p {
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.artist {
  text-align: center;
  display: inline-block;
  margin: 0px 12px 0px 12px;
  margin-bottom: 36px;
}

.artist h4 {
  margin: 0px;
  line-height: 18px;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.artist img {
  margin-bottom: 12px;
  cursor: pointer;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.playlist {
  text-align: center;
  display: inline-block;
  margin: 0px 12px 0px 12px;

  cursor: pointer;
}

.playlist h4 {
  margin: 0px;
  line-height: 18px;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.playlist p {
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.playlist img {
  margin-bottom: 12px;

  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 24px;
}

.track {
  text-align: center;
  display: inline-block;
  margin: 0px 12px 0px 12px;
  position: relative;
}

.track h4 {
  margin: 0px;
  line-height: 18px;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.track p {
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.track img {
  margin-bottom: 12px;
  cursor: pointer;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 24px;
}

#user_library_playlists {
  margin-top: 36px;
  text-align: center;
}

.userPlaylist {
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 24px;
  border-radius: 12px;

  cursor: pointer;
}

.userPlaylist h4 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 800; line-height: 28px;
  text-overflow:ellipsis; max-width: 150px;
  overflow: hidden;
}

.userPlaylist p {
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.userPlaylist img {
  margin-bottom: 12px;
  display: inline-block;
  width: 150px; height: 150px;
  object-fit: cover; border-radius: 24px;
}

.media_view {
  position: fixed;
  height: 100%; width: calc(100% - 280px);
  padding: 36px; overflow-y: auto; z-index: 5;
  background-color: var(--bg-secondary);
  right: 0px; top: 0px;
}

.playlistHeader img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.playlistHeader .chip {
  margin: 4px;
}

.myPlaylistOverlay {
  display: none;
}

.playlistDescription {
  max-height: 120px;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-word;
}

.myPlaylistImg {
  display: relative;
}

.myPlaylistImg:hover {
  opacity: 0.8;
  transition: all 0.5s;
}

.myPlaylistImg:hover + .myPlaylistOverlay, .myPlaylistOverlay:hover {
  display: block; position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

.playViewGradient {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 280px;
  background-color: var(--bg-secondary);
  background-image: linear-gradient(180deg, var(--bg-secondary) -20%, var(--bg-secondary) 100%);
  transition: all 1s !important;
}

.closePlaylistButton {
  position: absolute; z-index: 20;
  top: 36px; left: 24px; height: 42px;
  min-width: 0px; padding: 12px 8px 12px 8px;
  margin-right: 6px; margin-left: 6px; border-radius: 24px;

  background-color: var(--bg-tertiary) !important;
  color: var(--content-secondary) !important;
}

.closePlaylistButton:hover {
  color: var(--content-primary) !important;
}

.songList {
  margin-top: 12px; width: 100%;
  display: block; 
}

.userSong {
  border-radius: 12px; width: 100%;
  padding: 12px; cursor: pointer;
  background-color: var(--bg-secondary);
  display: block;
}

.userSong img {
  display: inline-block; border-radius: 4px;
  width: 36px; margin-right: 12px;
}

.userSong b {
  display: inline-block;
  font-size: 18px;
  margin: 0px; line-height: 0px;
  vertical-align: middle;
}

.userSong p {
  transform: translate(0, -50%);
  position: absolute;
  top: 50%; right: 12px;
  margin: 0px; line-height: 0px;
}

.userSong:hover {
  background-color: var(--bg-tertiary);
  transition: all 0.1s;
}

.playPlaylistBtn {
  background-color: var(--eon-primary) !important;
  border-radius: 12px;
  width: 200px;
  height: 40px;
}

.shufflePlaylistBtn {
  background-color: var(--contrast) !important;
  color: var(--content-primary) !important;
  border-radius: 12px;
  width: 200px;
  height: 40px;
}

.albumLibraryBtn {
  background-color: var(--eon-secondary) !important;
  color: var(--content-primary) !important;
  border-radius: 12px;
  width: 200px;
  height: 40px;
}

.albumSong {
  border-radius: 12px; width: 100%;
  padding: 12px; cursor: pointer;
  background-color: var(--bg-secondary);
  display: block;
}

.albumSong img {
  display: inline-block; border-radius: 4px;
  width: 36px; margin-right: 12px;
}

.albumSong b {
  display: inline-block;
  font-size: 18px;
  margin: 0px; line-height: 0px;
  vertical-align: middle;
}

.albumSong p {
  transform: translate(0, -50%);
  position: absolute;
  top: 50%; right: 12px;
  margin: 0px; line-height: 0px;
}

.albumSong:hover {
  background-color: var(--bg-tertiary);
  transition: all 0.1s;
}

#collectionAlbums {
  /* Masonry */
  display: grid;
  justify-items: center;
  grid-gap: 64px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 10px;
}

#albums {
  margin: 12px 48px;
}

#collectionAlbums .album { /* Masonry bricks or child elements */
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 24px;
  grid-row-end: span 1;
  transition: all 0.5s;
}

#collectionArtists {
  /* Masonry */
  display: grid;
  justify-items: center;
  grid-gap: 64px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 10px;
}

#artists {
  margin: 12px 48px;
}

#collectionArtists .artist { /* Masonry bricks or child elements */
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 24px;
  grid-row-end: span 1;
  transition: all 0.5s;
}

.albumFooter {
  background-color: transparent;
  transition: all 0.5s;

  padding: 12px;
  border-radius: 0px 0px 12px 12px;
}

.albumFooter p {
  margin: 0px;
}

.artistHero {
  position: absolute;
  top: 0px; left: 0px;
  width: 100%; height: 280px;
  object-fit: cover; object-position: center;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.artist_albums {
  overflow: auto;
  white-space: nowrap;
}