.horiz_search {
  max-height: 300px;
  min-width: 360px;
  overflow: auto;
  padding: 24px;
}


.album {
  text-align: center;
  display: inline-block;
  margin: 0px 12px 0px 12px;

  cursor: pointer;
}

.album h4 {
  margin: 0px;
  line-height: 16px;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.album img {
  margin-bottom: 12px;

  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 24px;
}

.album p {
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.artist {
  text-align: center;
  display: inline-block;
  margin: 0px 12px 0px 12px;
  margin-bottom: 36px;
}

.artist h4 {
  margin: 0px;
  line-height: 16px;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.artist img {
  margin-bottom: 12px;

  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.playlist {
  text-align: center;
  display: inline-block;
  margin: 0px 12px 0px 12px;

  cursor: pointer;
}

.playlist h4 {
  margin: 0px;
  line-height: 16px;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.playlist p {
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.playlist img {
  margin-bottom: 12px;

  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 24px;
}

.track {
  text-align: center;
  display: inline-block;
  margin: 0px 12px 0px 12px;
  position: relative;
}

.track h4 {
  margin: 0px;
  line-height: 16px;
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.track p {
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.track img {
  margin-bottom: 12px;
  cursor: pointer;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 24px;
}

#user_library_playlists {
  margin-top: 36px;
  text-align: center;
}

.userPlaylist {
  text-align: center;
  display: inline-block;
  margin: 12px;
  padding: 24px;
  border-radius: 12px;

  cursor: pointer;
}

.userPlaylist h4 {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 800; line-height: 28px;
  text-overflow:ellipsis; max-width: 150px;
  overflow: hidden;
}

.userPlaylist p {
  text-overflow:ellipsis; max-width: 150px;overflow: hidden; white-space: nowrap;
}

.userPlaylist img {
  margin-bottom: 12px;
  display: inline-block;
  width: 150px; height: 150px;
  object-fit: cover; border-radius: 24px;
}

.media_view {
  position: fixed;
  height: 100%; width: calc(100% - 280px);
  padding: 36px; overflow-y: auto; z-index: 5;
  background-color: var(--bg-secondary);
  right: 0px; top: 0px;
}

.playlistHeader img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.playlistHeader .chip {
  margin: 4px;
}

.myPlaylistOverlay {
  display: none;
}

.myPlaylistImg {
  display: relative;
}

.myPlaylistImg:hover {
  opacity: 0.8;
  transition: all 0.5s;
}

.myPlaylistImg:hover + .myPlaylistOverlay, .myPlaylistOverlay:hover {
  display: block; position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}
